body {
  background-color: #363377;
  font-family: monospace;
  color: #9f9ec7;
  font-weight: bold;
}

.content {
  position: absolute;
  top: 10vh;
  left: 25vw;
}

.switchbar {
  width: 50vw;
}

.switchbar > ul > li {
  text-align: center;
  width: 50%;
}

.nav-link {
  color: #9f9ec7;
  font-size: xx-large;
  transition: color 0.1s;
}

.nav-link:hover {
  color: #4e9231;
}

.form-check-input:checked {
  background-color: #4e9231;
}

.btn {
  background-color: #4e9231;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: #26640c;
}

.activeTab {
  background-color: #3f3c7f;
  border-bottom: 5px solid #4e9231;
}

.activeTab > a {
  color: #4e9231;
}

.moreInputsPerLine {
  display: flex;
  flex-direction: row;
  flex-wrap: warp;
  justify-content: space-between;
}

.moreInputsPerLine > #RegisterPasswordInput,
#RegisterRepeatPasswordInput {
  width: 48%;
}

#RegisterphoneNumber {
  width: 45%;
}
